p{
	padding-left:150px;
}

a{
	font-weight:900;
}
div5{
	
	padding-bottom:190px;
}

footer{
	background-color:red;
	clear:both;
    height:100px;
    position:relative;
    bottom:0;
	width:100%;
}

footer>p{
	margin-top:15px;
	margin-left:50px;
}

.hassani{
	text-align:center;
}
#Img_Voiture img{
    width: 100%;
    height: 100%;
}